<div class="editor" {{action "saveNote" on="keyUp"}}>
  <div class="editor-title" contenteditable="true">
    {{model.title}}
  </div>
  <div class="editor-body" contenteditable="true">
    {{model.body}}
  </div>
</div>
